@media screen and (max-width: 640px) {
    .container {
     grid-template-areas: 
     "item1"
     "item2"
     "item3"
     "item6"
     "item4"
     "item8"
     "item7"
     "item5"
     "item9"
     "item10";
     grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
     grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto;
    }
    .item1{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .heading1 {
        line-height: 1.4em;
        font-size: 10vw;
    }
    .item2 {
        padding-top: 40px;
        flex-direction: column;
    }
    .text-item2{
        width: 90%;
    }
    .image2 {
        align-self: center;
        position: relative;
        left: -4%;
    }
    .item3 {
        padding-block: 40px;
    }
    .item6 {
        padding-block: 30px;
    }
    .item4 {
        flex-direction: column;
        align-items: center;
        padding-bottom: 50px;
    }
    .heading4 {
        margin-bottom: 20px;
    }
    .main-item4 {
        width: 100%;
        max-width: none;
        margin-bottom: 34px;
    }
    .image4 {
        left: -115%;
        width: 200%;
        margin-top: 40px
    }
    .second-item4 {
        width: 100%;
    }
    .item9 {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .item10 {
        flex-direction: column;
        padding-bottom: 30px;
    }
    .image10 {
        margin-top: 0;
        margin-bottom: -7%;
    }
    .heading10 {
        margin: 10px 0 20px;
        text-align: center;
        width: 100%;
    }
}
